body{
    margin: 0;
    padding: 0;
    overflow-Y:hidden;
}

header{
    display: grid;
   /* height: 8vh;*/
    align-items: center;
}

.itemCenter{
    align-items: center;
    justify-content: center;
}

#controls{
    left: 7vw;
}

#compasso > button{
    width: 4em;
    height: 4em;
    background-color: var(--fundoD);
    color: var(--colorB);
    font-size: 3vh;


    &:hover{
          background-color: var(--fundoA);
        cursor: pointer;
    }

    &.active{

        background-color: var(--fundoA);
        
      
        color: white;
        border: 0;
}



  }





.logCont{
    margin-left: 1vh;
    background-color: var(--fundoE);
    border-radius: 2vh 1px;
    padding: 1vh;
    gap: 1vh;
    width: fit-content;
}


.painel{
    border-radius: 7px;
    color: white;
    background:var(--fundoD);
    padding: 2vh;
    display: grid;
        align-items: normal;
    width: fit-content;
}

  
    .memoria{

        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    
        .memoria > .btn1{
            margin: 0.5vh;
        }

    #ritmo > img{        
        border-radius: 100px;
        width: 6%;
        filter: grayscale(100%) sepia(100%) hue-rotate(1deg);
    }    
    
    #ritmo > img.on{            
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
        transition: all 0.1s;
    }    
    
    
        .btn1{
            cursor: pointer;
            font-size: 14px;
            font-family: 'Gill Sans';
            padding: 1vh;
                background: var(--fundoC);
         
            transition: all 0.3s;
        }

        .btn2{
             cursor: pointer;
            font-size: 20px;
            font-family: 'Gill Sans';
            padding: 1vh;
                background: var(--fundoD);
                align-content: center;

                &:hover{
                    background-color: var(--fundoA);
                    color: white;
                }
        }
    

    #wellcome{
        padding: 2vh;
        display: grid;
        grid-template-rows: 3vh 3vh;
    }
    


    .container{
        display: grid;
        gap: 2vh;
    }
  
    #pesquisa{
            position: absolute;
            background-color: #191616f0;
            z-index: 0;
            height: 100%;
            width: 100%;

            &.selected{
                z-index: 2;
            }
        }


   
    .listas , legend{
        border-style: ridge;
        border-color: var(--box-bg-color);
        padding: 1vw;
        display: grid;
        gap: 4px;
        margin: 1vh;
    }
            /*pode dar problema */



footer{
    position: fixed;
    padding: 1vh;
    bottom: 0;
    place-content: center;
}





 
