
.itemCenter{
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;

    &.active{
        color: var(--colorA);
    }
}

.addRem{
        bottom: 0;
    right: 0;
    padding: 1vh;
    
}

.contact:hover{
    cursor: pointer;
}

.rel{
    position: relative;
}


#controls{
    left: 7vw;
}

/*metronomo*/

.figritm{
    font-family: 'Hymnus FG';
}

#compasso > button{
    
    border-color:var(--fundoC);   
    background-color: var(--fundoD);
    color: var(--colorB);
    font-size: 3vh;
    border-radius: 1vh;
    text-align: left;
    justify-items: start;
    text-anchor: start;


    &:hover{
        background-color: var(--fundoA);
        cursor: pointer;
        filter: drop-shadow(2px 4px 6px var(--fundoA));
        border: none;
    }

    &.active{

        background-color: var(--fundoA);
        
        border: 0;
    }


}

.compCount{
border:none;
        
transition: all 0.3s;

&.active{
    border-color: var(--fundoC) !important;
            border: none;
            transition: all 0.3s;
}

}

.pulse{
    display: flex;
gap: 2px;
width: 100%;
padding: 4px;
background-color: var(--fundoD);
filter: drop-shadow(1px 1px 1px black);


    &.active{
        background-color: var(--fundoA);
        color: unset;
        
    }
    

}


.section-btn.active{
           /* transform: scale3d(1.1, 1.1, 1.1);*/
}

@media (max-width: 768px) {
    .pulse {
        width: 100% !important; /* Ocupa toda a largura em telas pequenas */
    }
}

.subdivision{
    background-color: var(--colorB);
    height: unset;
    font-size: 3vh !important;

}


/*msg*/
#messenger{
   position: absolute;
    
    height: 100vh;
    width: 100vw;
    z-index: 12;
    backdrop-filter: brightness(0.2) blur(1px);
    
}
      #messenger > section{
        z-index: 11;
        filter: drop-shadow(2px 4px 6px black);
        margin: 1em;
        position: absolute;

        width: 18em;
        right: 2em;

        background-color: var(--fundoD);
        backdrop-filter: blur(4em);
        border-radius: 1vh;

        
        margin: 2em;
        top: 3em;

        @media (max-width:500px) {
              width: 18em;
                right: unset;
        }
    }

    
    

  #receiving{
            background-color: var(--fundoC);
     max-height: 30vh;
        overflow-y: scroll;
    }



.logCont{
    margin-left: 1vh;
    background-color: var(--fundoE);
    border-radius: 2vh 1px;
    padding: 1vh;
    gap: 1vh;
    width: fit-content;
}


menu{
    padding: 0;
    margin: 0;
}

/**/


#videoControl{
    bottom: 7vh;
    right: 0;
    color: var(--colorB);
    height: max-content;
    z-index: 20;
    right: 3vh;
    zoom: 0.7;
    margin: 3vh;
}


#video{
    
    position: absolute;
    right: 0;
    top:0;

    &>.video{
        filter: brightness(0.7) contrast(1) saturate(1.1);
    }

   object-fit:cover; 

    &.tablet{
            top: calc(23vh) !important;
            left: 31.5vw !important;
            padding: 1vh 0;

            @media (max-height: 450px) {
                top: calc(29vh) !important;
                   height: 25vh;
                
            }

            & > video{
                width:98%;
                height: 57vh;
                z-index: 20;
                left: 0;
                right: 0;
                border-radius: 5px;
                background-color: var(--fundoD);
                padding: 1px;
                object-fit: cover;
        }
    }

    &.desktop{
        
        width: 45svh;
        right: 0;
        position: fixed;
        top: 86px;
        right: 0;

            & > video{
                    width: 100%;
                    z-index: 20;
                    left: 0;
                    right: 0;
                    border-radius: 5px;
                    background-color: var(--fundoD);
                    padding: 1px;
                    object-fit: cover;  
                   
            }
    }
 
    &.landscape{
            top: calc(18vh) !important;
            left: 31.5vw !important;
            padding: 1vh 0;

            &.video{
                height: calc(17vh + 5em);
            }
    }
       
}

video.mobile{

    height:calc(14vh + 4em);
    width:100vw;
    background:#2d2541;
    object-fit:cover; 

    @media(min-width:768px){
    height:300px;
    }

}
.video.xray{
        filter: invert(0.6) brightness(1) contrast(4.5);

        &.invertido{
             rotate: 180deg;
        
                .video{
                        transform: translateY(-30vw);
                        height: 50vw;
                    }
        }
}


#paineis{

    justify-content: space-between;
   width: 100%;
   @media (max-width: 500px) {
            #paineis {
                justify-content: center;
                border-radius: 0 !important;
                justify-content: normal;
                
                filter: var(--filterB);
                margin: 1vh;
                padding: 1vh;
             }
    }
}

.painel{
    color: var(--colorB);
    background: var(--fundoD);
    padding: 1vh;
    max-height: 50svh;
    overflow-y: scroll;

     width: 100%;

    &.mobile{

    
        height: fit-content;
        width: 100% !important;
        padding: 2vh;
        max-height: 50svh !important;
    }

    &.tablet{
            max-height: 56vh;
            width: 30%;
    }

    &.desktop{
          
     max-height: 60vh;
        z-index: 20;
        right: 0;
        border-radius: 5px;
        background-color: var(--fundoD);
        padding: 1px;
            
}
 

}


    #navegacao{
        display: flex;
        justify-content: space-between;
        padding: 0 2svh;
    }

    .navBtn{
        background-color: var(--fundoA);
        width: fit-content
    }

    #divUser  {

 font-size: 2vh;
    @media (max-width:500px){
            justify-items: end;
            
        }
}


.comp{
    background-color: var(--fundoC);
    color: var(--colorB);
    height: fit-content;
    border-radius: 4px 4px 0 0;
    align-items: center;

}


.lista{
    
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #00000038;
    border-radius: 4px;
    justify-content: center;
    padding: 1vh;
    /* margin: 0; */
    height: 45px;
    gap:2vh;
    cursor: pointer;
}

#salvos{
    list-style-type: none;
    align-content: space-between;
    display: grid;
    
    gap:1vh;
}

#salvos >  div  {
    cursor: pointer;
    color: white;

    margin: 0.5svh 0;
    background:radial-gradient(var(--fundoD),var(--fundoB));
    text-align: start;
    height: 20svh;
    opacity: 0.7;
    filter: contrast(0.8);
    
    align-content: space-between;
    filter:drop-shadow(2px 4px 6px black);

    &:hover, &.active{
        color: var(--fundoA);
        filter: contrast(1.2) brightness(1.2) hue-rotate(-12deg);
        opacity: 1 !important;
    }
}

#hMenu{
    padding: 0;
    margin: 0;
    
}


#sectionButtons{

    @media (orientation: landscape) or (max-width:500px) {            
        display: flex;
        max-width: 99vw;
        overflow-x: scroll;
            
    }
      
}

    .sectionPanel{
        line-height: normal;
        max-height: 30vh;
        max-width: 100%;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .memoria{
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 16vh;
    align-content: baseline;
    }
    

    #ritmo > img{        
        border-radius: 100px;
        width: 6%;
        filter: grayscale(100%) sepia(100%) hue-rotate(1deg);
    }    
    
    #ritmo > img.on{            
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
        transition: all 0.1s;

    }    

    .recOn 
    {
        background-color: var(--fundoA) !important;
        color:  white;
        transition: all 0.3s;
        filter: var(--filterB);
    }


    .btn1{
        cursor: pointer;
        font-size: 0.8em;
        
        padding: 1vh;
        color: var(--colorB);
        background: var(--fundoE);
        transition: all 0.3s;

        &.active, &:hover, &:focus{
            background-color: var(--fundoB);
            color: var(--fundoA);
        }
        
    }

    .btn2{
       cursor: pointer;
    font-size: 1.2em;
    
    padding: 5px;
    
    /* margin: 2px; */
    background: var(--fundoB);
    align-content: center;
    

            &:hover, &.active{
                outline: var(--colorA)
                
            }
    }

    .btn3{

        cursor: pointer;
        border-radius: 0.5vh;
        font-size:1em;
        
        padding: 0.7vh;
            
            background: var(--fundoC);
            align-content: center;
            color: white;
        
            &:hover, &.active{
                            color: white;
        background-color: var(--fundoC);
        border-color: var(--fundoA);
        filter: var(--filterB);
            }
    }


    .btn4 {
        background-color: var(--fundoC);
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 0.7vh;
        &.active {
            background-color: var(--fundoA);
            color: var(--colorC);
        }
    }

     #listaArq{

            @media (max-width:500px) {
                
            }

       
    }

    

/* No desktop, hover e focus mudam o fundo */
@media (hover: hover) {
  .btn4:hover,
  .btn4:focus {
    background-color: var(--fundoA);

  }
}

/* A classe active sempre muda o fundo */


        .clicaMus{
            text-transform: capitalize;
            font-family: ui-rounded;
        }

    #wellcome{
        top: 1vh;
font-size: 3vw;
        position: relative;
        @media (max-width: 500px) {
            gap: 0;
            
        }
    }



    .container{
        display: grid;
        gap: 2vh;
    }
  
    #pesquisa{
            position: absolute;
            background-color: #191616f0;
            z-index: 0;
            height: 100%;
            width: 100%;

            &.selected{
                z-index: 2;
            }
        }

       

   
    .listas , legend{
        border-style: ridge;
        border-color: var(--box-bg-color);
        padding: 1vw;
        display: grid;
        gap: 4px;
        margin: 1vh;
    }
            /*pode dar problema */


            .camera{
                
                border-radius: 8px; 
                display: flex;
                align-items: center;
                position: relative;
                 
                height:30vh;
                justify-content: center; 
                flex-direction: column;

                &>label{
                    position: absolute;
                    top: 0;
                        align-self: baseline;
                        align-items: center;
                            

                }


            }







 
