

.btnChord{
       
      font-size: 1.8vh;
  transition: all 0.3s;
  align-content: flex-start;

    &.edit{
      font-style: italic;
      filter: brightness(0.9) hue-rotate(160deg) saturate(124%);
      transition: all 0.3s;
    }   
}

.item {
  
  padding: 1vh;
  align-content: center;
  text-align: center;
  background: var(--fundoC);
  color: white;
  cursor: pointer;

   &.active{
    background-color: var(--fundoA);
  }

}
.voando {
  background-color: var(--colorE) !important;
  animation: bgPulse 0.2s infinite alternate;
}

@keyframes bgPulse {
  0% {
    background-color: var(--colorE);
  }
  100% {
    background-color: var(--fundoA);
  }
}

.gu-transit, .voando{
  background-color: var(--fundoC) !important;
}