


  .trash{
    /*background-image: url(https://www.pngrepo.com/download/38906/eraser.png);*/
    background-size: 25px ;
    width:25px;
    height: 25px;
    }

.trash:hover{
    cursor: pointer;
    filter:var(--filterC);
    transition: all 0.3s;
}    