

  .coelho{
        bottom: 0px;
    width: 8vh;
    height: 8vh;
    rotate: -15deg;
    position: absolute;
  }

  img.capa{
        height: 12vh;
    width: 12vh;
    border-radius: 6vh;
    outline: none;
  }

  .filterD{
    filter: invert(1) hue-rotate(145deg) drop-shadow(2px 4px 6px black);
  }

  .trash{
    /*background-image: url(https://www.pngrepo.com/download/38906/eraser.png);
    background-size: 25px ;
    width:25px;
    height: 25px;*/
    }

.trash:hover{
    cursor: pointer;
    filter:var(--filterC);
    transition: all 0.3s;
}    