

/* Width Classes */
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }
.w-full {
    width: 100%;
    max-width: 100%;
}
.w-fit { width: fit-content; }

/* Flex Classes */
.flex {
    display: flex;
    gap: 1vh;
}
.flexScroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 30vw;
}
.flexCenter {
    display: flex;    
    text-align: center;
    align-content: center; 
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}
.flexList {
    display: flex;
    gap: 2.7vh;
}

/* Grid Classes */
.grid { display: grid; }
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid3 {
    display: grid; 
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}
.gridCenter {
    display: grid;    
    text-align: center;
    justify-self: center;
}
#gridflex3 {
    display: grid; 
    grid-template-columns: repeat(3, auto) 35%;
}

/* Column Classes */
.col1 { column-count: 1; }
.col2 {
    column-count: 2;
    grid-template-columns: repeat(2, 1fr);
}
.col3 {
    column-count: 3;
    grid-template-columns: repeat(3, 1fr);
}

/* Scroll Classes */
.scroll25 {
    max-height: 25vh;
    overflow-y: scroll;
    position: relative;
}
.scroll50 {
    max-height: 50vh;
    overflow-y: scroll;
    position: relative;
}
.scroll75 {
    max-height: 75%;
    overflow-y: scroll;
    position: relative;
}
.scrollY {
    overflow-y: scroll;
    position: relative;
    max-height: 75%;
}

/* Margin Classes */
.m-1 { margin: 1vh; }
.my-1 { margin: 1vh 0; }
.my-2 { margin: 2vh 0; }
.mb-1 { margin-bottom: 1vh; }
.mb-2 { margin-bottom: 2vh; }
.mt-1 { margin-top: 1vh; }
.mt-2 { margin-top: 2vh; }
.me2 { margin: 2vh 0; }

/* Padding Classes */
.p-0 { padding: 0; }
.p-1 { padding: 1vh; }
.p-2 { padding: 2vh; }
.py-1 { padding: 1vh 0; }
.py-2 { padding: 2vh 0; }
.px-2 { padding: 0% 2vh; }

/* Gap Classes */
.gap1 { gap: 1vh; }
.gap2 { gap: 2vh; }

/* Position Classes */
.abs { position: absolute; }

/* Justify Classes */
.justCenter {
    justify-self: center;
    justify-content: center;
}
.justContStart { justify-content: start; }
.justContBetween { justify-content: space-between; }
.justContAround { justify-content: space-around; }

/* Alignment Classes */
.itemCenter { align-items: center; }
.selfCenter {
    text-align: center;
    justify-items: center;
    justify-self: center;
}

/* Size Classes */
.mini {
    width: 32px;
    height: 32px;
}
.micro {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.micro:hover {
    filter: drop-shadow(2px 4px 6px var(--fundoE));
}


/* Other Classes */
.flow { display: flow; }


.top {
    top: 1vh;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(45, 255, 3, 0.5),
        rgb(255, 49, 49)
    );
}



/* Media Queries */
@media (max-width: 500px) {
    
    main {
        border-color: var(--main-bg-color);
        position: relative;
    }
}

