.off{
    display: none;
}

.on{
    background-color: var(--fundoE);
    color: white;
    filter: var(--filterB);
    transition: all 0.1s;
}

.off{
    opacity: 0.05;
    transition: all 0.1s;
}


.dropOut.selected , .btn.selected{
    color: var(--second-text-color);
    background-color: var(--second-bg-color);
    filter: drop-shadow(2px 4px 6px black);
    transition: background-color 0.3s;
}


.hide{
    opacity: 0;
    z-index: -1;
}

.show{
    opacity: 1;
    transition: all 0.3s;
}

.expand{
    display: block;
    left: 0;
    width: 100%;
    height: auto;
    text-align-last: center;
}

.none{
    
    opacity: 0.2;
}

.tempHide{
    opacity: 0;
    transition: 2s;
}

