
@import url(./layout.css);
@import url(./logica.css);
@import url(./tema.css);
@import url(./components.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

html{
    scrollbar-width: thin;
}


:root{
    --vh: 100%;
    --fundoA: var(--colorA); 
    --fundoB: black;
    --fundoC: #3c3d3e;
    --fundoD: #202020;
    --fundoE: #191616e3;
    --fundoF: #f32121;
    --fundoG: #a77b6b85;
    --chroma: #8aad8a;
    --shadowA: #d0bc5981;
    --colorA: #275b8b;
    --colorB: #D1CCCC;
    --colorC: #0c74b9; /*e3a30a*/
    --colorD: #c59143e1;
    --colorE: #438ac5e1;
   --filterB:drop-shadow(2px 4px 6px var(--fundoB));
   --filterC:drop-shadow(2px 2px 3px #c80101) contrast(1.5);
   --filterD:invert(1) hue-rotate(10deg) drop-shadow(2px 4px 6px var(--fundoB));
   --filterE:  drop-shadow(2px 4px 6px var(--fundoB));
   --casa:0.8rem;
   
   /* medidas */
    --headerHeight:12dvh;
    --footerHeight:10dvh;
    
    /*soma*/
    --headfooter:calc(var(--headerHeight) + var(--footerHeight));
    
    --topMainHeight: 30dvh;
    --bodyMainHeight: calc(100dvh - var(--headfooter) - var(--topMainHeight) + 1vh); 

    /*soma*/
    --mainHeight: calc(100dvh - var(--headfooter));

}


@media (min-width:1024px) and (orientation: landscape){
    :root{
   --casa: 1.4vw;
        --footerHeight: 4dvh;
        --alturavideo: calc(var(--bodyMainHeight) + var(--footerHeight));
    }
}

.itemsCenter{
    align-items: center;
}


.boxC{
    background: linear-gradient(145deg, var(--fundoB),var(--fundoC));
    cursor: pointer;
    padding: 0.7vh;
}


.colorA{
    color: var(--colorA);
}

a{
    
}

.colorC{
    color: var(--colorC);
}

.colorD{
    color: var(--colorD);
}


.filterA{
    filter:invert(1);
}

.filterB{
    filter: var(--filterB);
}

.placeContBetween{
        place-content: space-between;

}

.textStart{
    text-align: start;
}

.textCap{
    text-transform: capitalize;
}   

.transp{
    background-color: transparent;
}

.capt{
    text-transform: capitalize;
}

.set{
    background-color: aqua;
}

.l2{

    backdrop-filter: brightness(0.5);
    height: fit-content;
    text-shadow: #fc0 1px 0 10px;
    background: #00000061;
    border-radius: 4px;
    color: white;
    height: 6vh;
    margin: 0;
}

.showOff{
    display: none;
}



.inv{
    filter: invert(1) ,  hue-rotate(351deg);
}

.inv:hover, .inv.active{
    filter:var(--filterB) , hue-rotate(351deg);
}

span,div{
     -webkit-appearance: none; /* Remove estilos nativos */
    user-select: none;  
    outline: none;
       -webkit-tap-highlight-color: transparent;
}



*:focus-visible{

    
}

.controle{    
    display: flexbox;
}

.noAr{
    filter: invert(1);
}

.fit{
    height: fit-content;
    width: fit-content;
}

.active {
    
        
}


/* ---------------- painel   */

.slotMem:active, #chroma.active, #chroma:hover{
    background-color:var(--chroma);
    color: var(--colorC);
    filter: invert(0);
}


#body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#bodyMainDiv {

    min-height: 0;
    overflow-y: auto;
}

/* Onde os ícones amarelos moram */
#navegacao {
    flex-shrink: 2;
    

    /* Aqui usamos a variável somada à Safe Area do iOS */

    
    /* Garante que o fundo do menu acompanhe o preenchimento */
    background: #1a1a1a; 
}