@import url(./components.css);
@import url(./layout.css);
@import url(./logica.css);
@import url(./img.css);
@import url(./temas.css);
@import url(./violao.css);
@import url(./slider.css);


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*   braco  */

:root{
    --top: calc(12vh + 3vw);
    --topSides: calc(var(--top) + 8vw);
    --topInfo: calc(var(--top) + var(--topSides) ); /*mistura medidas de vh e vw*/
    --fundoA: #4d7a8d;
    --fundoB:black;
   --fundoC: #3c3d3e;
   --fundoD:#4a4c50;
   --fundoE:#2196f3;
    --fundoF:#f32121;
   --chroma:#00ff00;
   --shadowA:#71aac381;
   --colorA:var(--fundoA);
   --colorB:white;
   --width:90%;
   --filterB:drop-shadow(2px 4px 6px var(--fundoB));
   --filterC:drop-shadow(2px 2px 3px #c80101) contrast(1.5)
}


body{

    background-color:var(--fundoC);
    padding: 1em;
    margin: 0;
    background-size: 1024px;
  
}

.filterA{
    filter:invert(1);
}

.filterB{
    filter: var(--filterB);
}

.comp{
    background-color: var(--fundoC);
    padding: 0 6px;
    border-radius: 4px;
    align-items: center;

}


.lista{
    display: flex;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #00000038;
    border-radius: 4px;
    justify-content: center;
    padding: 1vh;
    /* margin: 0; */
    height: 45px;
    gap:2vh;
    cursor: pointer;
}

#salvos{
    list-style-type: none;
    margin: 0;
    padding: 1vh;
    display: grid;
    gap:1vh;
}

#salvos > li , div>li   {
    cursor: pointer;
    color: white;
    filter:drop-shadow(2px 4px 6px black);
}

#hMenu{
    padding: 0;
    margin: 0;
}

.set{
    background-color: aqua;
}

.l2{

   backdrop-filter: brightness(0.5);
   height: fit-content;
   text-shadow: #fc0 1px 0 10px;
   background: #00000061;
   border-radius: 4px;
   color: white;
   margin: 0;
}

.showOff{
    display: none;
}



.inv{
    filter: invert(1) ,  hue-rotate(351deg);
}

.inv:hover, .inv.active{
    filter:var(--filterB) , hue-rotate(351deg);
}



.controle{    
    display: flexbox;
}

.noAr{
    filter: invert(1);
}

.fit{
    height: fit-content;
    width: fit-content;
}

.active {
    background-color: coral;
    color: white;
}


/* ---------------- painel   */

.slotMem:active, #chroma.active, #chroma:hover{
    background-color:var(--chroma);
    color: var(--fundoC);
    filter: invert(0);
}


