
body{

    
        

            background: linear-gradient(-223deg, 
             var(--colorD),  
                var(--colorA), 
             black,    
                var(--colorE) 
                );



        
        /* Camada 1: Linhas da Colmeia (Hexágonos) 
        /* Usamos a --colorA com 10% de opacidade para um brilho sutil
        linear-gradient(120deg, rgba(39, 91, 139, 0.1) 25%, transparent 25% 75%, rgba(39, 91, 139, 0.1) 75%),
        linear-gradient(60deg, rgba(39, 91, 139, 0.1) 25%, transparent 25% 75%, rgba(39, 91, 139, 0.1) 75%),
        
        radial-gradient(var(--fundoA), var(--fundoB));
        
        */

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    @media (display-mode: standalone) {
        
        background-color: #000000 !important;

    }
     
  
}

.rev{
    transform: scaleX(-1);
}

.grayscale { filter: grayscale(100%) !important; }
.zoom2 { transform: scale(1.2); transform-origin: center center; }


.vinheta{
    background-color: var(--main-bg-color);
    filter: blur(12vh);
    backdrop-filter: brightness(0.5);
}

.recOn {
    background-color: var(--fundoA) !important;
        
    color:  white;
    transition: all 0.3s;
   
}
.labelTema{
    
    border-radius: 1vh;
    filter: var(--filterE);
}
    
.bgClean{
    background-color:white;
    color:black
}

label{
    cursor: unset;
}

.fundoC{
    background-color: var(--fundoC);
}

.fundoGrad{
        background: linear-gradient(45deg, black, transparent);
}

.fundoGrad2{
    background:linear-gradient(-19deg,var(--fundoB), var(--fundoC),var(--fundoB))
}

.fundoE{
    background-color: var(--fundoE);
}

.paint-bucket {
  /* O 'auto' é o cursor de fallback (reserva) que será usado caso a imagem personalizada não carregue
     16 16 são as coordenadas x,y do ponto de clique do cursor (hotspot) */
  cursor: pointer;
}

.figritm{
    font-family: 'Hymnus FG';
}

.curs{
    font-family: cursive;
}

.bgDark2{
    background-color:black;
    color:var(--colorB);
}

.bgDark{
    background-color:var(--fundoC);
    color:white;
}

#welcome{
    font-family: fantasy;
    
}

::-webkit-scrollbar {
    position: relative;
    z-index: 20; /* Garante que o conteúdo fique abaixo ou acima da barra conforme desejado */
    -webkit-transform: translate3d(0,0,0);
    
    width: 4px !important;
    height: 0.3em !important;
    display: block !important; /* Força o WebKit a renderizar */

}

::-webkit-scrollbar-thumb {
    background-color: var(--fundoA);
    border-radius: 10px;
}

input:focus, button:focus {
    outline-width: 0;
}
input[type="color"] {

    border-radius: 1vh;
    /* appearance: none; */
    filter: drop-shadow(1px 1px 1px var(--fundoB));
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    backdrop-filter: opacity(0);
    color: transparent;
    /* background-color: transparent; */
    border-color: unset;
    border-width: 5vh;
    border-style: dashed;
    background: none;
    height: 0;
    width: 0;

  }
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.bordaA{
    border-style:solid;
    border-color: var(--fundoD);
    border-radius: 4px;
}
.rad1{
    border-radius: 1vh;
}

.legenda{
     /* height: 19px; */
    /* color: white; */
     width: fit-content; 
    outline: none;
    border: none;
    /* padding: 2px; */
    text-align: -webkit-center;
}

.filterC{
        filter: drop-shadow(2px 4px 2px black);
}

.filtro{
    filter: brightness(95%) hue-rotate(80deg) saturate(354%);
    -webkit-filter: brightness(95%) hue-rotate(80deg) saturate(354%);
    -moz-filter: brightness(95%) hue-rotate(80deg) saturate(354%);
}

.filterD{
filter:var(--filterD)
}

.filterE{
    filter: var(--filterE)
}

/* Components */
.comp {
    background-color: var(--fundoC);
    color: var(--colorB);
    height: fit-content;
    font-size: 2vh;
    border-radius: 1px 1px 0 0;
    align-items: center;
}

.croma{
    padding: 2em;
    background: rgb(0, 255, 0);
}
/*violao*/

.espelho{
        transform: rotateX(180deg);
}