
.marca{
    background-image: url("../img/marca.png");
    background-size: 40px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#borda{
    border-top-left-radius: 4px;
    border-top-color:rgb(252, 230, 134);
}

#borda > div{
    padding-top: 0px;            
}

/* ------------ cordas */

#E > div{
    border-bottom-color:#795548;
    padding-bottom: 0px;
}

#E{
    border-top-width: 6px;
}

#A{
    border-top-width: 4px;
}

#G{
    border-top-width:2px;
}

#B{
    border-top-width: 1px;
    
    border-top-color: aliceblue;
}

#e{
    border-top-width: 1px;
    
    border-top-color: aliceblue;
}



p {
    font-size: 0.95rem;
    text-align: center;
  }
  
  span {
    
    border-radius: 100vmax;
  }
  

  .cordaSolta{    
    background:none !important;
    font-size: 10px;
    text-align: center;
    border: none;    
    margin-left: -3vh !important;
    border-radius: 0px !important;
    background: none;
    font-size: 16px !important;
    padding: 6px;
    font-weight: bold;
    color:#c59206 !important;
    text-shadow: 2px 2px 2px #463402;
    transition: all 0.3s;
}

.corda > div{
    padding: 10px 20px 10px;            
    border-right-color: #a3a7ab;
    width: 100%;
    border-right-width: 5px;
    border-right-style: ridge;                 
}


.braco , .corda > div{
    background-color:#795548;                        
}

.corda > div.capo{
    border: none !important;
}

.capo{
    padding-left: 2px !important;
    width: 1px !important;
    background-color: rgb(252, 230, 134) !important;
}

/*nota */
.corda > div > button{
    
    position: absolute;
    margin-top: -22px;
    margin-left: -1.9vh;
    width: 3em;
    line-height: 14px;
    cursor: pointer;
    border-radius: 7px;
    border-bottom: none;
    font-size: 10px;
    transition: all 0.05s;
}

#invNeck.active{
    background-color: coral;
    color: white;
}


.cordaSolta.on{
    color:#ffffff !important;
    text-shadow: 2px 2px 2px #cca13c;
    transition: all 0.3s;
}

.corda{
    display: flex;
    border-top: #c59206;
    border-top-style: ridge;
}


#braco.chroma{    
    padding: 2em;
    background: rgb(0, 255, 0);
    border-radius: 4px;
    transition: all 1s;
}

.inclinado{
    transform: rotate(90deg);
    width: 6em;
    margin-left: 25em;
    transition: all 1s;

}

.nota.inclinado{
    transform: rotate(-90deg);
    width: 3.8vh;
    margin-left: -2vh;
    margin-top: -4vh;
    font-size: 2vh;
    padding: 5px;
}

#ritmo{
    padding: 0;
}
