.loader {
  width: 50px;
  height: 50px;
  border: 5px solid var(--fundoA); 
  border-top: 5px solid var(--fundoB); 
  border-radius: 50%;
  position: absolute;
  animation: palheta 2s linear infinite; 
}

@keyframes pisca {
  0% {
    filter: drop-shadow(0px 1px 1px var(--colorD));
  }
  12.5% {
    filter: drop-shadow(1px 1px 1px var(--colorD));
  }
  25% {
    filter: drop-shadow(1px 0px 1px var(--colorD));
  }
  37.5% {
    filter: drop-shadow(1px -1px 1px var(--colorD));
  }
  50% {
    filter: drop-shadow(0px -1px 1px var(--colorD));
  }
  62.5% {
    filter: drop-shadow(-1px -1px 1px var(--colorD));
  }
  75% {
    filter: drop-shadow(-1px 0px 1px var(--colorD));
  }
  87.5% {
    filter: drop-shadow(-1px 1px 1px var(--colorD));
  }
  100% {
    filter: drop-shadow(0px 1px 1px var(--colorD));
  }
}


@keyframes cor {
  0% {
    
   filter: hue-rotate(45deg);
    
  }
  100% {

    filter: hue-rotate(45deg);
    
  }
}


@keyframes rodando {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg)  drop-shadow(1px 1px 6px var(--fundoA)); /* Começa na cor original */
    
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg) drop-shadow(1px 1px 6px var(--fundoB)); /* Gira pelas cores e volta para a original */
    
  }
}

@keyframes palheta {
   0% {
    transform: rotateY(0deg);
    filter: hue-rotate(0deg)  drop-shadow(1px 1px 6px var(--fundoA)); /* Começa na cor original */
    
  }
  100% {
    transform: rotateY(360deg);
    filter: hue-rotate(360deg) drop-shadow(1px 1px 6px var(--fundoB)); /* Gira pelas cores e volta para a original */
    
  }
}