

*{
    outline: none !important;
}

.btnChord{
       
      font-size: 1.8dvh;
  
  align-content: flex-start;
  text-align: justify;
  
  border-radius: 1vh;

    overflow-wrap: break-word;
    justify-items: center;

    transition: all 0.3s;

    &.edit{
      font-style: italic;
      filter: brightness(0.9) hue-rotate(160deg) saturate(124%);
      transition: all 0.3s;
    }   

    &:focus, &.active{
        outline: none;
        
        border-color: transparent;
        background: var(--colorD);
                color:var(--colorB);
        transition: all 0.3s;
    }


}


.item {
  padding: 1vh;
    align-content: center;
    text-align: center;
    border-color: var(--colorA) !important;
    background: var(--fundoC);
    color: white;
    cursor: pointer;
    flex: 10vh 1 1;

      @media (hover:hover) {
        &:focus {
          transform: scale(1.1);
            background-color: var(--colorE);
        }
      
     }
   
    &.active, &.on{
     background-color: var(--colorC);

   
  }

  &.voando {
    background-color: var(--colorA) !important;
    animation: bgPulse 0.2s infinite alternate;
}

}


.btn{
    cursor: pointer;

    &.selected {
        color: var(--colorC);
        background-color: var(--fundoB);
        filter: drop-shadow(2px 4px 6px var(--fundoD));
        transition: background-color 0.3s ease;
    }

    &.active {
        color: var(--colorC);
        
    }
}


.menuFiles{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    text-wrap-mode: nowrap;

    &.active{   
        color: var(--colorD);
        
    }

}


.rad0{
        border-radius: 0;
}

.currentLabelText{
    filter:drop-shadow(1px 4px 4px black);
}

.btnPerson{
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 2vh;
        gap: 1vh;
        
        color: var(--colorB);


    &:focus{
        cursor: pointer;
        border-color: var(--colorD);
        border-width: 0px 0 2px 0px;
        border-style: inset;
        background: var(--colorD);
    }


     &.active {
       color: var(--colorD);
       border-color: var(--colorD);
        border-width: 0px 0 1px 0px;
        
        border-style: dashed;
    }

}



.btn1 {
    cursor: pointer;
    
    color: var(--colorB);

    border-radius: 3px;
    border-width: 1px;
    display: grid;
    
    padding: 1vh;
    box-sizing: border-box;
    height: fit-content;
    vertical-align: middle;

        background: var(--colorE);
    transition: all 0.3s ease;


    @media (hover:hover) {
        &:focus {
            background: var(--colorC);
            color: var(--colorB);
        }
    }
    
    &.active{
        background: var(--colorC);
        color: var(--colorB);
        transform: scale(1.1);    
        
    }
}

.b0{
    border: none;
    background-color: none;
    

    &.active{
        color: var(--colorD);
    }
}

.btn2 {
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
    background: var(--fundoA);
    align-content: center;
    filter: saturate(1.1) contrast(0.9);
    color: white;

    &:hover,
    &.active {
        outline: var(--colorA);
    }
}

.btn3 {
    cursor: pointer;
    border-radius: 0.5vh;
    font-size: 1em;
    padding: 0.7vh;
    background: var(--fundoC);
    align-content: center;
    color: white;

    @media (hover: hover)  {}
        &:focus {
            color: white;
            background-color: var(--colorD);
            transform: scale(1.1);
            border-color: var(--fundoA);
            filter: var(--filterB);
        
    }

     &.active {
        color: white;
        background-color: var(--colorD);
        border-color: var(--fundoA);
        filter: var(--filterB);
    }
}

.btn4 {
    background-color: var(--fundoC);
    cursor: pointer;
    
    padding: 0.7vh;
    transition: background-color 0.3s ease;
}

.btn4.active {
    background-color: var(--fundoA);
    color: var(--colorC);   
}

.active > .ind{
    opacity: 1;
    color: var(--colorD);
    transition: all 0.3s ease;
}

.ind{
    font-size: 1.7em;
    rotate: 90deg;
    opacity: 0;
    transition: all 0.3s ease;
}

.songAlb{
    cursor: pointer;
}

.songAlb > legend{
    height: fit-content;
    border-radius: 1vh;
    padding: 4px;
    
    overflow-wrap: break-word;

}


.btnTema{
    cursor: pointer;
        height: 4vh;
    background: linear-gradient(145deg, var(--fundoC), transparent);
    padding: 1vh;
    border-radius: 3px;
    color: white;

    align-items: center;

    &.active {
            color: var(--colorD);
        border-style: inset;
        border-color: var(--colorC);
    }
        }

    @media (hover:hover) {
        &:focus, &.active {
            transform: scale(1.1);
            color: var(--colorB);
        border-style: inset;
        border-color: var(--colorC);
    
        }
    
}

.addRem {
    bottom: 0;
    right: 0;
    padding: 1vh;
}


