input { 
    color: var(--fundoE); 

        border-width: 1px;
    background-color: black;
    border-color: var(--fundoC);

    &:focus , &:focus-visible {

        outline: none !important;
    }
}



    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="range"] {
    accent-color: var(--colorC);
        border-radius: 5vh;
  }
