/* Memory & Rhythm */
.memoria {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    z-index: -2;
    z-index: 1;

    align-content: baseline;
}

#sectionButtons {
    @media (orientation: landscape) or (max-width:500px) {
        display: flex;
        max-width: 99%;
        overflow-x: scroll;
        justify-content: space-around;
    }
}

.cleanMode{
    
}

.section-btn{
    cursor: pointer;
    width: 100%;
    text-align: center;

    &.active, &:hover{

        backdrop-filter: contrast(0.8);
        filter: drop-shadow(2px 9px 23px var(--colorC));
        mix-blend-mode: color;
    }
}


