/* Memory & Rhythm */
.memoria {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    z-index: -2;
    z-index: 1;

    align-content: baseline;
}

#sectionButtons {
    @media (orientation: landscape) or (max-width:500px) {
        display: flex;
        max-width: 99%;
        overflow-x: scroll;
        justify-content: space-around;
    }
}

.cleanMode{
    
}

.section-btn{
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    color: var(--colorD);

    &.active, &:hover{

        background-color: var(--fundoA);


    }
}

.bi-trash{
    color: rgba(255, 0, 0, 0.523);
}


