
/* Saved Items */
#salvos {
    list-style-type: none;
    align-content: space-between;
    
    gap: 1vh;

    @media  (orientation: landscape) {
                overflow-y: scroll;
            display: grid;
            -webkit-text-decorations-in-effect: overline;
            /* width: 20vh; */
            grid-template-columns: 1fr 1fr;
    
        
    }

    @media  (orientation: portrait) {
        
                
        overflow-x: scroll;
        max-width: 90vw;
        
    }

}

#salvos > div {

        
    mix-blend-mode: difference;

    cursor: pointer;
    color: white;
        box-sizing: border-box;
    min-width:20vh;
    margin: 0.5svh 0;
            background: linear-gradient(110deg, var(--fundoB), transparent);
    text-align: start;
    height: 20svh;
    opacity: 0.7;
    filter: contrast(0.8) drop-shadow(2px 4px 6px black);
    align-content: space-between;

    @media (orientation: landscape) {
      display: grid;
        
    }
}

.clicaMus.active, .clicaMus:hover {
    color: var(--colorD);    
    filter: contrast(1.6) brightness(1.2) hue-rotate(-12deg);
    opacity: 1 !important;
}

/* Misc */
.clicaMus {
    text-transform: capitalize;
    font-family: ui-rounded;
padding: 1vh;
   

}