
/* Saved Items */
#salvos , #aulasSalvas{
    list-style-type: none;
    align-content: space-between;
    
    gap: 2vh;

    @media  (orientation: landscape) {
            overflow-y: scroll;
            display: grid;
            -webkit-text-decorations-in-effect: overline;
            /* width: 20vh; */
            grid-template-columns: 1fr 1fr;

             @media (min-width:998px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
    }

   

    @media  (orientation: portrait) {
        overflow-x: hidden;
        max-height: 58vh;
    }

    

}

#salvos > div, #aulasSalvas > div {

    width:9em;
    height: 9em;
    opacity: 0.7;
    
    @media (orientation: landscape) {
      
        
    }
}

.songTitle{
    
    padding: 2px;
    border-radius: 1vh;
        
}

.capt{

    background-size: cover !important;
    background-repeat: no-repeat !important;
}



.clicaMus.active, .clicaMus:hover {
    color: var(--colorD);    
    
    opacity: 1 !important;
}

/* Misc */
.clicaMus {
    text-transform: capitalize;
    
    padding: 1vh;
    
   

}