/* Saved Items */
#salvos,
    #aulasSalvas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2svh;
        list-style-type: none;

        &.desktop {
            padding: 0;
            flex-wrap: nowrap;
            justify-content: start;
            overflow-x: auto;
            max-width: 40em;
            gap: 3svh;
        }

        @media (orientation: portrait) {
            overflow-y: scroll;
            max-height: calc(var(--bodyMainHeight) + var(--headerHeight));
        }

     
}

/* Misc */
.clicaMus {
    text-transform: capitalize;
    
        box-shadow: -4px -1px 12px 3px black;
   text-transform: capitalize;
    box-shadow: -4px -1px 12px 3px black;
    border-radius: 4px;
    min-width: 24vh;
    max-width: 24vh;
    height: 24vh;
    max-height: 24vh;
    transition: transform 0.7s ease;
    flex: auto;

     transition: transform 0.7s ease;
                &:focus,
                &:hover {
                    filter: contrast(1) brightness(1.2);
                }
    
}



#userInfo{
    
    position: absolute;
    margin: 1svh -1svh;

    @media (orientation: landscape) {
        position: relative;
    }
}


.songTitle{
    
    padding: 2px;
    border-radius: 1svh;
        
}

.capt{

    background-size: cover !important;
    background-repeat: no-repeat !important;
}
