@import url(./acordes.css);
@import url(./arquivos.css);
@import url(./messenger.css);
@import url(./metronomo.css);
@import url(./video.css);
@import url(./main.css);
@import url(./violao.css);

/* Layout & Positioning */

#paineis {
    justify-content: space-between;
    background-color: var(--fundoD );
    overflow-y: scroll;
    
    @media (max-width: 500px) {

           
        justify-content: normal;
        border-radius: 0 !important;
        filter: var(--filterB);

        
    }

    &.mobile{

    max-height: calc(var(--bodyMainHeight) + 3em);
        height: 54vh;

          @media (orientation: landscape) {
            padding: 0;
            width: 100%;
            height: 80vh;
            max-height: 78vh;
        
         }
    }


    @media (min-width: 501px) {
         
        padding: 1vh 2vh;
      
        height: 52vh;
        max-height: 58vh;

       
       
        
    }

}

.painel {
    color: var(--colorB);
    font-size: 1.7vh;

    &.mobile {
        width: 100% ;
        @media (orientation:landscape) {
                width: 30%;
                
        }
    }

    &.tablet {
        padding: 0 ;

        @media (orientation: landscape) {
            width: 28vw;
        }
        
    }

    &.desktop {
        z-index: 20;
        right: 0;
        border-radius: 5px;
        padding: 1px;
    }
}

.sectionPanel {
    line-height: normal;
    max-height: 30vh;
    max-width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}


.rel {
    position: relative;
}

.container {
    display: grid;
    gap: 2vh;
}


.lista {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #00000038;
    border-radius: 4px;
    justify-content: center;
    padding: 1vh;
    height: 45px;
    gap: 2vh;
    cursor: pointer;
}


#controls {
    left: 7vw;
}
