@import url(./acordes.css);
@import url(./arquivos.css);
@import url(./messenger.css);
@import url(./metronomo.css);
@import url(./video.css);
@import url(./main.css);
@import url(./violao.css);

/* Layout & Positioning */

#paineis {
    
    background-color: var(--fundoD );
    padding: 1rem;
    overflow-y: auto;
  min-height: 0;
      
    
      @media (max-width: 500px) {
        border-radius: 0 !important;
        filter: var(--filterB);
    }

    &.mobile{
          @media (orientation: landscape) {
            padding: 0;
            width: 30%;
         }
    }


    @media (min-width: 501px) {
        padding: 1vh;
    }

}

.painel {
    color: var(--colorB);
    font-size: 1.7vh;

    &.mobile {
        width: 100%;
    }

    &.tablet , &.desktop {
        padding: 0 ;
        @media (orientation: landscape) {
            width: 28vw;
        }
    }

}

.rel {
    position: relative;
}


.lista {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #00000038;
    border-radius: 4px;
    justify-content: center;
    padding: 1vh;
    height: 45px;
    gap: 2vh;
    cursor: pointer;
}


#controls {
    left: 7vw;
}
