.logCont {
    margin-left: 1vh;
    background-color: var(--fundoE);
    border-radius: 2vh 1px;
    padding: 1vh;
    gap: 1vh;
    width: fit-content;
}

#paineis {
    justify-content: space-between;
     

     
         background-color: var(--fundoD );

        overflow-y: scroll;
 
    
    @media (max-width: 500px) {

           max-height: 50vh;
         height: 52vh;
        
        justify-content: normal;
        border-radius: 0 !important;
        filter: var(--filterB);
    }

    @media (min-width: 501px) {
         
        padding: 1vh 2vh;
                width: fit-content;
        height: 52vh;
        max-height: 50vh;
        
    }

}

.painel {
    color: var(--colorB);
    font-size: 1.7vh;

    &.mobile {
        width: 100% ;
        @media (orientation:landscape) {
                width: 30%;
        }
    }

    &.tablet {
        padding: 0 ;
        width: 30vw;
    }

    &.desktop {
        z-index: 20;
        right: 0;
        border-radius: 5px;
        padding: 1px;
    }
}

.sectionPanel {
    line-height: normal;
    max-height: 30vh;
    max-width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}


body, html {
    
    margin: 0;
    padding: 0;
    touch-action: none;

     box-sizing: border-box;
  position: relative;
}

menu {
    padding: 0;
    margin: 0;
}

#hMenu {
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0vh;
    height: var(--headerHeight);
    z-index: 20;
 
}

main {
   
    position: relative;
    height: var(--mainHeight);
    
}

footer {
    position: sticky;
    height: var(--footerHeight);
    justify-self: center;
    text-align: center; 
    width: 100vw;
    background-color: var(--fundoE);
    bottom: 0;
    align-content: center;
}


#navegacao {
    display: flex;
    justify-content: space-between;
    padding: 0 2svh;
}