


body, html {
  margin: 0;
  padding: 0;
  touch-action: none;
  
  
}

body{
  display: grid;
  grid-template-rows: var(--headerHeight) 1fr var(--footerHeight); /* header | main flexível | footer */
  height: 100vh; /* altura da viewport */
  margin: 0;
  padding: 0;
  overflow: hidden; /* impede scroll da página, só scroll interno */
  
}

main{
  display: grid;
  grid-template-rows: auto ;
  height: 100%; /* ou nem precisa definir height */
  overflow: hidden; /* para prevenir scroll duplo */
}

menu {
    padding: 0;
    margin: 0;
}

#hMenu {
    padding: 0;
    margin: 0;
}

header {
    z-index: 20;
}

footer {
    justify-self: center;
    text-align: center; 
    width: 100vw;
    background-color: var(--fundoE);
    bottom: 0;
    align-content: center;
    
}

#navegacao {
    display: flex;
    justify-content: space-between;
    padding: 0 2svh;
}