.logCont {
    margin-left: 1vh;
    background-color: var(--fundoE);
    border-radius: 2vh 1px;
    padding: 1vh;
    gap: 1vh;
    width: fit-content;
}



body, html {
    
    align-content: space-between;
    margin: 0;
    padding: 0;
    touch-action: none;

     box-sizing: border-box;
  position: relative;
}

menu {
    padding: 0;
    margin: 0;
}

#hMenu {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    top: 0vh;
    height: var(--headerHeight);
    z-index: 20;
 
}

main {
   
    position: relative;
    

        max-width: 100vw;
    overflow: hidden;
    
}

footer {
    position: relative;
    height: var(--footerHeight);
    justify-self: center;
    text-align: center; 
    width: 100vw;
    background-color: var(--fundoE);
    bottom: 0;
    align-content: center;
}


#navegacao {
    display: flex;
    justify-content: space-between;
    padding: 0 2svh;
}