/*msg*/
#messenger{
   position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 16;
    backdrop-filter: brightness(0.2) blur(1px);
    
    & > section {
        z-index: 7;
        filter: drop-shadow(2px 4px 6px black);

        position: absolute;

        
        background-color: var(--fundoD);
        backdrop-filter: blur(14em);
        
        top: 12svh;

        @media (max-width:500px) and (orientation: portrait) {
            
            right: unset;
        }
    }

 
}


#sending > input{
    width: -webkit-fill-available;
    background: linear-gradient(15deg, var(--fundoD), var(--fundoC));
    color: var(--colorB);
}


#receiving{
     background: color-mix(in srgb, var(--fundoA), black 90%);
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;
}

.msgtext{
        word-break: break-word;
    overflow-x: revert;
    max-width: 80vw;
}

.camera{
    
    border-radius: 8px; 
    display: flex;
    align-items: center;
    position: relative;
        
    height:30vh;
    justify-content: center; 
    flex-direction: column;

    &>label{
        position: absolute;
        top: 0;
            align-self: baseline;
            align-items: center;
                

    }


}

.btnPerson{
        background: var(--colorD);
    padding: 1vh;
    color: var(--fundoB);
    font-weight: 500;
    border-radius: 5px;
    filter: var(--filterD);
}