/*msg*/
#messenger{
   position: absolute;
    height: 100svh;
    width: 100svw;
    z-index: 16;

        backdrop-filter: blur(4px) brightness(1);
    
    & > section {
        z-index: 7;
        filter: drop-shadow(2px 4px 6px black);

        position: absolute;

        
        background-color: var(--fundoD);
        backdrop-filter: blur(14em);
        
        top: 12svh;

        @media (max-width:500px) and (orientation: portrait) {
            
            right: unset;
        }
    }

 
}


#sending > input{
    font-size: 1em;
    width: -webkit-fill-available;
    background: linear-gradient(15deg, var(--fundoD), var(--fundoC));
    color: var(--colorB);
}


#receiving{
     background: color-mix(in srgb, var(--fundoA), black 90%);
    
     min-height: stretch;
    overflow-y: scroll;
}

.msgtext{
        word-break: break-word;
    overflow-x: revert;
    max-width: 80svw;
}

#contatos{
    top: 7svh;
    right: 0;
    
}

.camera{
    
    border-radius: 8px; 
    display: flex;
    align-items: center;
    position: relative;
        
    height:30svh;
    justify-content: center; 
    flex-direction: column;

    &>label{
        position: absolute;
        top: 0;
            align-self: baseline;
            align-items: center;
                

    }


}

