/* --- Auxiliares --- */


.pick > img{
  animation: palheta 2s linear infinite; 
}

.opening{
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: auto;
    text-align: center;
    z-index: 10;
}

/* --- Video Loading --- */
.videoLoading {
    position: absolute;
    z-index: 15;
    height: 100%;

    width: 100%;
    left: 0;

    filter: sepia(0.3);

    &.off {
        z-index: -10;
        opacity: 0;
        transition: all 0.4s ease;
    }

    &.desktop {
    
        width: 100%;
        transition: all 0.4s ease;
    }
    
  
}

/* --- Label Atual --- */

#currentLabel {
        
    background: var(--fundoG);
    filter: drop-shadow(2px 4px 6px black);
    
    margin: 1vh;
    position: absolute;
    border-radius: 2vh;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    gap:1vh;

    
}
.video{

   @media (orientation: portrait) {
        height: var(--topMainHeight);
    }


    &.mobile{
        @media (orientation: landscape) {
                width: 60vw;
            }
    }
    
}
/* --- Bloco Principal: Video --- */
#currentVideo {
    

    &.desktop {
        width: 60vw;   
        object-fit: contain;
        transition: all 0.4s ease;
    }

    &.mobile{
        @media (orientation: portrait) {
            height: var(--topMainHeight);
        }

        @media (orientation: landscape) {
            width: 60vw;
            height: var(--bodyMainHeight);
            object-fit: cover;
        }
    }
}
/* --- Controle do Video --- */
#videoControl {
    z-index: 12;
    bottom: var(--topMainHeight);
    left: 0;
    right: 3vh;
    margin: 3vh;
    height: max-content;
    background: var(--fundoC);
    color: var(--colorB);
    flex-flow: column-reverse;
    zoom: 0.7;
    top: 1vh;


}