/* --- Auxiliares --- */
.grayscale { filter: grayscale(100%) !important; }
.zoom2 { transform: scale(1.2); transform-origin: center center; }


.pick > img{
  animation: palheta 2s linear infinite; 
}

.opening{
        flex-flow: column;
    justify-content: center;
    align-self: center;
    margin-top: auto;

    z-index: 10;
}


/* --- Video Loading --- */
.videoLoading {
    position: absolute;
    z-index: 15;
    height: 100%;
    top: -2px;
    width: 100%;
    left: 0;
    background: radial-gradient(var(--fundoC), var(--fundoB));
    filter: sepia(0.3);

    &.off {
        z-index: -10;
        opacity: 0;
        transition: all 0.4s ease;
    }

    &.desktop, &.tablet {
        left: 5vw;
        width: 93%;
        transition: all 0.4s ease;
    }
    
  
}

/* --- Label Atual --- */

#currentLabel {
    position: absolute;
    top: 1vh;
    z-index: 10;
    right: 2vh;
    border-radius: 1vh;
}
 
/* --- Bloco Principal: Video --- */
#video {
    position: fixed;
    right: 0;
    margin: 0;
    padding: 0;
    height: calc(var(--topMainHeight) + 6vh);
    box-sizing: border-box;
    
    &.desktop {
        bottom: 90px;
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        left: 30%;
        width: 67%;
    }

    &>.video {
  
        filter: brightness(0.7) contrast(1) saturate(1.1);
        

         &.mobile {
            

                        height: 100%;
            width: 100%;
            object-fit: cover;
         }

          /* --- Variação: Desktop --- */
        &.desktop {
      
            object-fit: cover;

            margin-left:5vw;
            height: calc(var(--bodyMainHeight) + 4vh);
            width: stretch;

            &>.videoLoading{
                margin-left:3vw;
            }
            }
        }

        &.tablet{
            @media (orientation: portrait) {

            width: 100%;
            object-fit: cover;
            
            }

        }

      

    /* --- Variação: Mobile --- */
        &.mobile {
        &#videoControl { display: none; }
        
     
        @media (orientation: portrait) {


            left: -1px;
            position: relative;
            &.on { z-index: 12; }
        }

      
    }

    /* --- Variação: Tablet --- */
    &.tablet {
        position: relative;

        &#video {

            z-index: 20;
            filter: drop-shadow(2px 7px 6px black);
            
            & > #currentVideo{
                bottom: 70px;
                left: 5vh;
                height: 55vh;
                width: 60vw;
                object-fit: cover;

            }
        }

           

        @media (orientation: landscape) {
            position: absolute;
                left: 31%;
              bottom: 12vh;
                left: 35%;
        }

    

        @media (display-mode: standalone) { bottom: calc(var(--footerHeight) + 1vh); }
        @media (max-height: 450px) { height: 25vh; }
    }

   
}

/* --- Controle do Video --- */
#videoControl {
    z-index: 12;
    bottom: var(--topMainHeight);
    left: 0;
    right: 3vh;
    margin: 3vh;
    height: max-content;
    background: var(--fundoC);
    color: var(--colorB);
    flex-flow: column-reverse;
    zoom: 0.7;
top: 1vh;


    @media (orientation: portrait) and (max-width: 768px) {
        
        margin: 1vh 2vh;
        zoom: 0.6;
        gap: 3vh;
        flex-flow: nowrap;
    }
}