/* --- Auxiliares --- */
.grayscale { filter: grayscale(100%) !important; }
.zoom2 { transform: scale(1.2); transform-origin: center center; }


.pick > img{
  animation: palheta 2s linear infinite; 
}

.opening{
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: auto;
    text-align: center;
    z-index: 10;
}


/* --- Video Loading --- */
.videoLoading {
    position: absolute;
    z-index: 15;
    height: 100%;

    width: 100%;
    left: 0;

    filter: sepia(0.3);

    &.off {
        z-index: -10;
        opacity: 0;
        transition: all 0.4s ease;
    }

    &.desktop, &.tablet {
    
        width: 100%;
        transition: all 0.4s ease;
    }
    
  
}

/* --- Label Atual --- */

#currentLabel {
    
    position: absolute;
    
    gap:1vh;
    z-index: 10;

    top: 1vh;
    left: 1vh;
    
    border-radius: 1vh;

    
}

#video.mobile > #currentLabel{
      top: 1vh;
    right: 2vh;
}

#video{

    box-sizing: border-box; 

    &.desktop, &.tablet{
        width: 61vw;
        right: 3svw;
        position: absolute;
        top: calc( var(--topMainHeight) - 1shv);
    }

      &.mobile{
        width: 100%;
        height: var(--topMainHeight);
        
    }
}
 
/* --- Bloco Principal: Video --- */
#currentVideo {

    box-sizing: border-box;

    object-fit: cover;
    width: 100%;

      height: var(--bodyMainHeight);
    /*altura mobile*/

    &.mobile {
        height: var(--topMainHeight);
    }

    &.desktop {
        height: calc(var(--bodyMainHeight) + 4svh);
    }
}

/* --- Controle do Video --- */
#videoControl {
    z-index: 12;
    bottom: var(--topMainHeight);
    left: 0;
    right: 3vh;
    margin: 3vh;
    height: max-content;
    background: var(--fundoC);
    color: var(--colorB);
    flex-flow: column-reverse;
    zoom: 0.7;
    top: 1vh;


    @media (orientation: portrait) and (max-width: 768px) {
        
        margin: 1vh 2vh;
        zoom: 0.6;
        gap: 3vh;
        flex-flow: nowrap;
    }
}