
.marca{
    background-image: url("./marca.png");
    background-size: 4svh;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#borda{
    border-top-left-radius: 4px;
    /*
    border-top-color:rgb(62, 52, 8);
    */
    border-top-color: transparent;
}

#borda > div{
    padding-top: 1px;            
}

.playing{
    
        border-top-style: double;
        animation: pulse 0.2s infinite;
}


@keyframes pulse {

    0% {
        
    }
    50% {
        border-top-style: double;
    }
    100% {
         
    }
}

/* ------------ cordas */

#E > div{
    border-bottom-color:#795548;
    padding-bottom: 0px;

}

#E{
    border-top-width: 4px;
}

#A{
    border-top-width: 3px;
}

#G{
    border-top-width:2px;
}

#B{
    border-top-width: 1px;
    
    border-top-color: aliceblue;
}

#e{
    border-top-width: 1px;
    
    border-top-color: aliceblue;

     
}


p {
    font-size: 0.95rem;
    text-align: center;
  }
  
  button.cordaSolta{    
    background:none;
    font-size: 1svh;
    
    font-weight: bold;
    transition: all 0.3s;
    width: 20px;
    
        height: fit-content;
    margin-top: -1.8em;

    left: 2vw;
    padding: 5px;

    &.on, &:hover{
        color:#ffffff !important;
        text-shadow: 2px 2px 2px var(--fundoA) !important;
                background: linear-gradient(45deg, var(--colorC), transparent) !important;
        transition: all 0.3s;
    }

}



.intA{
    padding-inline: calc(2.1 * var(--casa))  !important;

}

.intB{
    padding-inline: calc(1.9 * var(--casa))  !important;
    
}

.intC{
    padding-inline: calc(1.7 * var(--casa)) !important;
    
}

.intD{
    padding-inline: calc(1.2 * var(--casa)) !important;
    
}


.corda > div{
    
    position: relative;
    padding: 1.6svh 3svh;
        border-right-color: #7c848c;
    
    border-right-width: 4px;
    border-right-style: ridge;         


 
    
    @media (min-width:900px) {
        padding: 2svh 2svw 10px;
        border-right-width: 3px;
        
    }

    @media (orientation: portrait) {
        padding: 2svh 4svw 10px;
    }
    
    &.capo{
        border-width: 1px;
        border-color: var(--fundoD);
        
        

    }


}

.capo{

    padding-left: 1svw !important;
    background-color: wheat !important;
}

.capo > .nota{
        /*corrigindo offset
            margin-top: -24px;
    */

    
    color: var(--colorA) !important;
    font-size: 2.2svh;
    z-index: 10;
    
        box-shadow: 1px 1px 1px 1px black;
    background: #ffffffc2;
    text-shadow: 0px -1px 11px var(--fundoA);

    

        @media (orientation: portrait) {
                margin-left: -0.8svh !important;
                margin-top: -4svh;
                height: fit-content;
        }

        @media (max-width:500px) {
                margin-top: -4svh;
            
        }

            @media (orientation: landscape) and (max-width:500px) {
            
                    margin-top: -5.5svh;
                margin-inline-start: 1svh;  

        
        }
     

}

#borda > div > button{
    background-color: none !important;
}

/*nota */
.nota{

       height: auto;
    width: 2em;
    margin-top: -3svh;
    margin-left: -2svh;
    background-color: var(--fundoA);


    
    background-color: #275b8b99;

    filter: contrast(1.2) saturate(1.5);

    

    box-shadow: 1px 1px 11px 1px black;

    position: absolute;
    color: wheat;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 1.7svh;
    
    font-family: Math;
    transition: all 0.05s;
    



    &.on{

        background: linear-gradient(45deg, var(--fundoE), var(--colorC));
        color: white;

        transition: all 0.1s;

    }

    @media (min-width:900px) {
        
    }
}

#invNeck.active{
    background-color: coral;
    color: white;
}




.corda{
    width: fit-content;
    display: flex;
    border-top: #c59206;
    border-top-style: ridge;




     @media (min-width:500px) {
        width: fit-content
    }
}

.contBraco{
    padding: 1vh;
       max-width: 100dvw;
    overflow-x: auto;
}

#braco{

    background: linear-gradient(306deg, black, var(--fundoG), transparent);
    
    box-sizing: border-box;
        
    align-content: center;
    position: relative;
 
    
    /*considera 2svh por ser bottom e top*/
    

    transition: all 1s;

    &.desktop{

        justify-items: center;
    }

    &.on{
            z-index: 3;
    }
  
    &.mobile{
        @media (orientation: landscape) {

            bottom: 0vh;
            padding: 0;
            width: 69%;
            
            right: 1vh;
            position: absolute;
        }


    }

    
}
#braco.chroma{    
    padding: 2em;
    background: rgb(0, 255, 0);
    border-radius: 4px;
    transition: all 1s;
   
}


.braco , .corda > div{
    /*background-color: var(--fundoG);  */                      
    
}
   

.inclinado{
    transform: rotate(90deg);
    width: 6em;
    margin-left: 25em;
    transition: all 1s;

}

.nota.inclinado{
    transform: rotate(-90deg);
    width: 3.8vh;
    margin-left: -2vh;
    margin-top: -4vh;
    font-size: 2vh;
    padding: 5px;
}

#ritmo{
    padding: 0;
}
