
.marca{
    background-image: url("./marca.png");
    background-size: 4svh;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#borda{
    border-top-left-radius: 4px;
    border-top-color:rgb(62, 52, 8);
}

#borda > div{
    padding-top: 5px;            
}

.playing{
    
        border-top-style: double;
        animation: pulse 0.2s infinite;
}


@keyframes pulse {

    0% {
        
    }
    50% {
        border-top-style: double;
    }
    100% {
         
    }
}

/* ------------ cordas */

#E > div{
    border-bottom-color:#795548;
    padding-bottom: 0px;

}

#E{
    border-top-width: 6px;
}

#A{
    border-top-width: 4px;
}

#G{
    border-top-width:2px;
}

#B{
    border-top-width: 1px;
    
    border-top-color: aliceblue;
}

#e{
    border-top-width: 1px;
    
    border-top-color: aliceblue;

     
}


p {
    font-size: 0.95rem;
    text-align: center;
  }
  
  button.cordaSolta{    
    background:none !important;
    font-size: 1svh;
    padding: 6px;
    font-weight: bold;
    transition: all 0.3s;

    &.on, &:hover{
        color:#ffffff !important;
        text-shadow: 2px 2px 2px #cca13c;
        transition: all 0.3s;
    }

}


.corda > div{
    
    position: relative;
    padding: 1.4svh 3svh;
    border-right-color: #a3a7ab;
    
    border-right-width: 5px;
    border-right-style: ridge;         
    
    @media (min-width:900px) {
        padding: 2svh 2svw 10px;
        border-right-width: 3px;
        
    }

    @media (orientation: portrait) {
        padding: 2svh 4svw 10px;
    }
    
    &.capo{
        border-width: 1px;
        border-color: var(--fundoD);
        
        

    }


}

.capo{

    padding-left: 1svw !important;
    background-color: wheat !important;
}

.capo > .nota{
        /*corrigindo offset
            margin-top: -24px;
    */
    margin-left: -2.2svh !important;
    margin-top: -4svh;
    color: var(--colorA) !important;
    font-size: 2.2svh;
    z-index: 10;
    filter: drop-shadow(2px 4px 6px var(--shadowC));
    font-weight: bolder;

        @media (orientation: portrait) {
                margin-left: -1.8svh !important;
    margin-top: -3.5svh;
        }

        @media (max-width:500px) {
                margin-top: -4.5svh;
            
        }

            @media (orientation: landscape) and (max-width:500px) {
            
                    margin-top: -5.5svh;
                margin-inline-start: 1svh;  

        
        }
     

}

#borda > div > button{
    background-color: none !important;
}

/*nota */
.nota{

    /*
     margin-top: -20px;
    margin-left: calc(-5px - 0.8rem);
    width: 3em;
    */
    height: auto;
    width: 2em;
    margin-top: -3svh;
    margin-left: -2svh;
    
    background-color: var(--fundoE);
    position: absolute;
    color: wheat;
    
    
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 1.7svh;
    transition: all 0.05s;

    font-family: Math;

    &.on{

        background: linear-gradient(45deg, var(--fundoE), var(--colorC));
        color: white;
        filter: var(--filterB);
        transition: all 0.1s;

    }

    @media (min-width:900px) {
        
    }
}

#invNeck.active{
    background-color: coral;
    color: white;
}




.corda{
    width: fit-content;
    display: flex;
    border-top: #c59206;
    border-top-style: ridge;

     @media (min-width:500px) {
        width: fit-content
    }
}

#braco{

        transition: all 1s;
    position: relative;
    max-width: 100vw;
    justify-items: start;
    padding: 2vh 2vw;
    height: calc(var(--topMainHeight) - 2);

    &.on{
            z-index: 3;
    }
  
    @media (max-width: 500px) {
        overflow-x: scroll;
        overflow-y: hidden;

        height: calc(var(--topMainHeight) - 2vh);

        &.on{
            padding: 1rem;
        }
    }

    @media(min-width:768px) and (orientation: portrait){
        padding: 10px 0 2px 0 ;
        left:1vw;
        max-width: 100vw;
        overflow-x: scroll;
    }

    &.mobile{
        @media (orientation:landscape) {
            max-width: 65vw !important;
            overflow-x: scroll;
            left: 32%;
           height: calc(var(--topMainHeight) + 1em);
            z-index: 20;
            position: fixed;
            overflow-y: hidden;
            z-index: 17;
            
        }
    }
    
}


#braco.chroma{    
    padding: 2em;
    background: rgb(0, 255, 0);
    border-radius: 4px;
    transition: all 1s;
   
}


.braco , .corda > div{
    background-color: var(--fundoG);                        
    
}
   

.inclinado{
    transform: rotate(90deg);
    width: 6em;
    margin-left: 25em;
    transition: all 1s;

}

.nota.inclinado{
    transform: rotate(-90deg);
    width: 3.8vh;
    margin-left: -2vh;
    margin-top: -4vh;
    font-size: 2vh;
    padding: 5px;
}

#ritmo{
    padding: 0;
}
