@font-face {
    font-family: 'Hymnus FG';
    src: url('HymnusFG.woff2') format('woff2'),
        url('HymnusFG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.colorE{
    color: var(--colorE);
}




.f1em{
    font-size: 1em;
}

.f2em{
  font-size: 2em;
}

.f2vh{
    font-size: 2vh;
}

.f3vh{
    font-size: 3vh;
}
.f3em{
    font-size: 3em;
}

.f1rem{
    font-size: 1rem;
}

.f4vh{
    font-size: 4vh;
}

.t1{
    font-size: 1.5rem;
   
    filter: drop-shadow(2px 4px 6px var(--fundoB));
    color: var(--colorB);
    /*font-family: 'bootstrap-icons'; /*fantasy*/
   }
   

.t2{
    width: fit-content;
    position: relative;

        font-size: 1.5rem;
    
    filter: drop-shadow(2px 4px 6px var(--fundoB)) brightness(7.5);
    color: var(--colorC);
    /*font-family: 'bootstrap-icons';/*fantasy*/

}

.t3{
    cursor: pointer;
    color: var(--colorC);
    font-size: 1rem;
    
}


.colorB{
 color:var(--colorB)   
}
